<!-- <ScrollView orientation="vertical"> -->
<StackLayout>
    <PDFView [src]="'http://www.infeksiyondunyasi.org/global/documents/ekitap2.pdf'" width="100%"></PDFView>
   <!-- <GridLayout #comments  class="small-spacing" [rows]="rowsstr" [columns]="colstr" >
        <Button *ngFor="let item of items" [text]="item.data" class="submit-button" (tap)="kitapsec(item.data)" [row]="item.row_br" [col]="item.col_nr" width="80" height="80"></Button>
    </GridLayout>
    <WrapLayout  class="small-spacing" orientation="horizontal">
        <Button *ngFor="let item of items" [text]="item.data" class="submit-button" (tap)="kitapsec(item.data)" width="80" height="80"></Button>
    </WrapLayout>
    <StackLayout orientation="horizontal">
        <Button text="Kitap 1" class="submit-button" (tap)="kitapsec('1')"></Button>
        <Button text="Kitap 2" class="submit-button" (tap)="kitapsec('2')"></Button>
        <Button text="Kitap 3" class="submit-button" (tap)="kitapsec('3')"></Button>
    </StackLayout>-->
    
</StackLayout>
<!--</ScrollView>-->